.searchLabel {
    font-size: small;
    font-family: sans-serif;

}

.searchInput {
    border-bottom: 1px solid #cdcdce;
    border-top: none;
    border-left: none;
    border-right: none;
}